footer {
    /* position: bottom; */
    border-top: 5px solid rgba(228, 105, 23, 0.905);
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(10, 10, 41);
    color: white;
    display: flex;
    /* grid-column: span 2; */
    background-color: rgb(10, 10, 41);
    position: absolute;
    /* bottom: 0; */
    height: 80px;
    

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-logo {
    max-width: 200px;
    height: auto;
    margin-left: 40px;
}



.text-left {
    text-align: left;
    margin-right: 50px;
}

.text-right {
    text-align: left;
    margin-right: 0px;
}


.contact-info {
    text-align: left;
    margin-right: 40px;
}


.copyright-text {
    color: white;
    margin: 0px 0;
    text-align: right;
    margin-right: 350px;
    position: relative;
    bottom: 5;
    width: 100%;
}